@import url(https://fonts.googleapis.com/css2?family=600&family=Raleway:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background: #FFF;
}

@media only screen and (min-width: 375px) and (max-width: 1000px) {
  .head {
    background: #FFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .head #percentage__scroll {
    width: 0%;
    height: 0px;
    background: rgb(8, 166, 228);
  }
  .head h1 {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    padding: 17px 94px 16px 25px;
    color: rgb(8, 166, 228);
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
  }
  .head svg.head__iconburger,
  .head svg.head__iconclose {
    margin-bottom: 5px;
    cursor: pointer;
  }
  .head svg.head__iconclose {
    display: none;
  }
  .head nav.menu {
    /* display: none */
    position: relative;
    top: -250px;
    height: 0px;
  }
  .head nav.menu ul.menu__list {
    list-style: none;
    padding: 24px 25px;
  }
  .head nav.menu ul.menu__list li {
    padding-top: 14px;
  }
  .head nav.menu ul.menu__list li a {
    text-decoration: none;
    color: #A5A5A5;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
  }
  .head nav.menu ul.menu__list li a:hover {
    color: rgb(0, 0, 0);
  }
  /* END HEAD */
  /* START MAIN */
  .main {
    /* FIRST SECTION */
    /* MODAL */
    /* FIN MODAL */
    /* SECOND SECTION */                 
    /* THIRD SECTION */
    /* FOUR SECTION */
  }
  .main section.main-first__section {
    padding-top: 180px;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
    /* THIRD ARTICLE */
  }
  .main section.main-first__section .first-article__sellmore {
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
  .main section.main-first__section .first-article__sellmore h2 {
    font-family: "Raleway", sans-serif;
    color: #000;
    font-size: 2.188rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1.25em;
  }
  .main section.main-first__section .first-article__sellmore p {
    font-family: "Open Sans", sans-serif;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 1.75em;
  }
  .main section.main-first__section .first-article__sellmore button {
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    width: 90%;
    height: 4.1875em;
    cursor: pointer;
    border-radius: 40px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  }
  .main section.main-first__section div.second-article__background {
    margin-top: 3.1875em;
    height: 16.6875em;
    width: 100%;
    background: url("../img/Background.png"), 50%;
    background-size: cover;
    background-position: center;
  }
  .main section.main-first__section .third-article__sales {
    margin-top: 0.8125em;
    width: 100%;
  }
  .main section.main-first__section .third-article__sales h3 {
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 35px;
    width: 85%;
    height: 112px;
    margin: 0 auto;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column {
    margin-top: 1.5625em;
    text-align: center;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column div.columns {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5625em;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column div.columns h4 {
    margin-top: 0.9375em;
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 5.96px;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column div.columns p {
    margin-top: 1.25em;
    color: #A5A5A5;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.063rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column div.columns img.ellipse {
    position: relative;
    right: -1.25em;
    width: 3.9375em;
    height: 3.9375em;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column div.columns img.icon {
    width: 2.75em;
    height: 3.25em;
    position: relative;
    right: 0.9375em;
    top: -0.625em;
    z-index: 1;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column > div:nth-child(2) img.ellipse {
    right: -1.875em;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column > div:nth-child(2) img.icon {
    width: 4.09375em;
    height: 2.28125em;
    top: -0.8125em;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column > div:nth-child(3) {
    margin-bottom: 3.125em;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column > div:nth-child(3) img.ellipse {
    right: -1.25em;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column > div:nth-child(3) img.icon {
    width: 3.25em;
    height: 3em;
    top: -0.5em;
  }
  .main div.modal {
    display: none;
    top: 40%;
    z-index: 10000;
    width: 90%;
    height: 270px;
    border: 1px solid rgb(8, 166, 228);
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    position: fixed;
    margin-left: 5%;
    text-align: center;
  }
  .main div.modal svg.modal__iconclose {
    cursor: pointer;
    position: relative;
    right: -45%;
    top: 5px;
  }
  .main div.modal h3.modal__title {
    font-family: "Raleway", sans-serif;
    color: rgb(8, 166, 228);
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .main div.modal form label {
    display: block;
    color: #08A6E4;
    font-family: "Open Sans", sans-serif;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.28px;
    font-size: 1em;
  }
  .main div.modal form input {
    height: 42px;
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    stroke-width: 1px;
    stroke: #95989A;
    outline: none;
    margin-bottom: 30px;
  }
  .main div.modal form button {
    display: block;
    margin: 0 auto;
    border: none;
    background: rgb(8, 166, 228);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    color: #fff;
  }
  .main section.main-second__section {
    width: 100%;
    background: #F7F7F7;
    padding-top: 50px;
    padding-bottom: 40px;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
    /* THIRD ARTICLE */
  }
  .main section.main-second__section article.second-section__box {
    margin: 0 auto;
    margin-bottom: 2.5625em;
    width: 90%;
    height: 23.125em;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    background: #FFF;
  }
  .main section.main-second__section article.second-section-first__article div.images {
    height: 50%;
    text-align: center;
    margin-top: 5px;
  }
  .main section.main-second__section article.second-section-first__article div.images > img:nth-child(1) {
    width: 8em;
    height: 8em;
    position: relative;
    right: -9.375em;
  }
  .main section.main-second__section article.second-section-first__article div.images > img:nth-child(2) {
    width: 12.0625em;
    height: 6.875em;
    position: relative;
    top: 1.25em;
    right: 4.375em;
  }
  .main section.main-second__section article.second-section-first__article div.first-article-portatil__description {
    margin-left: 1.375em;
  }
  .main section.main-second__section article.second-section-first__article div.first-article-portatil__description h3 {
    width: 80%;
    height: 72px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  .main section.main-second__section article.second-section-first__article div.first-article-portatil__description p {
    width: 95%;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  .main section.main-second__section article.second-section-second__article div.images {
    height: 45%;
    text-align: center;
    margin-top: 0.9375em;
  }
  .main section.main-second__section article.second-section-second__article div.images > img:nth-child(1) {
    width: 8.25em;
    height: 8.25em;
    position: relative;
    right: -5.625em;
  }
  .main section.main-second__section article.second-section-second__article div.images > img:nth-child(2) {
    width: 10.9375em;
    height: 8.4375em;
    position: relative;
    top: 0.625em;
    right: 2.8125em;
  }
  .main section.main-second__section article.second-section-second__article div.second-article-phone__description {
    margin-left: 1.375em;
  }
  .main section.main-second__section article.second-section-second__article div.second-article-phone__description h3 {
    width: 80%;
    height: 70px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 18px;
  }
  .main section.main-second__section article.second-section-second__article div.second-article-phone__description p {
    width: 95%;
    height: 77px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
  }
  .main section.main-second__section article.second-section-third__article {
    width: 100%;
  }
  .main section.main-second__section article.second-section-third__article div.third-article-frame__description {
    width: 90%;
    height: 298px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    background: #FFF;
    margin: 0 auto;
  }
  .main section.main-second__section article.second-section-third__article div.third-article-frame__description h3, .main section.main-second__section article.second-section-third__article div.third-article-frame__description p {
    margin-left: 22px;
  }
  .main section.main-second__section article.second-section-third__article div.third-article-frame__description h3 {
    margin-top: 31px;
    width: 80%;
    height: 109px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main section.main-second__section article.second-section-third__article div.third-article-frame__description p {
    margin-top: 20px;
    width: 80%;
    height: 114px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main section.main-second__section article.second-section-third__article div.third-section__frame {
    margin: 0 auto;
    width: 90%;
    height: 195px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    background: #55DFB4;
    text-align: center;
  }
  .main section.main-second__section article.second-section-third__article div.third-section__frame img.trumpet {
    margin-top: 25px;
  }
  .main section.main-third__section {
    margin-bottom: 10px;
    padding-top: 55px;
    width: 100%;
    text-align: center;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
    /* THIRD ARTICLE */
  }
  .main section.main-third__section h2.third-section__title {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
  }
  .main section.main-third__section article.card {
    width: 85%;
    height: 75%;
    border-radius: 18px;
    background: #FFF;
    margin: 0 auto;
    margin-bottom: 1.875em;
  }
  .main section.main-third__section article.card div.article-card-advantages__checks {
    margin-left: 1.5625em;
  }
  .main section.main-third__section article.card div.article-card__prices {
    display: inline-block;
    position: relative;
    top: -2.8125em;
    right: -0.9375em;
  }
  .main section.main-third__section article.card div.article-card__prices h4 {
    width: 52px;
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    margin: 0 auto;
  }
  .main section.main-third__section article.card div.article-card__prices h2 {
    width: 59px;
    font-family: "Open Sans", sans-serif;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    margin: 0 auto;
  }
  .main section.main-third__section article.card div.article-card__prices p {
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.3125em;
    position: relative;
    right: -0.75em;
  }
  .main section.main-third__section article.card div.article-card__advantages {
    display: inline-block;
    margin-top: 1.5625em;
    margin-left: 2.8125em;
    text-align: justify;
  }
  .main section.main-third__section article.card div.article-card__advantages svg {
    display: inline-block;
  }
  .main section.main-third__section article.card div.article-card__advantages p {
    margin-left: 0.625em;
    display: inline-block;
    margin-bottom: 1.25em;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main section.main-third__section article.card div.article-card__advantages img {
    width: 11px;
    height: 11px;
  }
  .main section.main-third__section article.card button.card-prices__button {
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    position: relative;
    bottom: -1.5625em;
    border-radius: 23px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .main section.main-third__section article.third-section-first__article {
    border: 1px solid #FB3B64;
    transition: all 0.3s ease-in-out;
  }
  .main section.main-third__section article.third-section-first__article button.red {
    background: #EB476E;
  }
  .main section.main-third__section article.third-section-first__article h2 {
    color: #FB3B64;
    font-family: "Open Sans", sans-serif;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
  }
  .main section.main-third__section article.third-section-first__article:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgb(251, 59, 100);
  }
  .main section.main-third__section article.third-section-second__article {
    margin-top: 3.75em;
    border: 1px solid #07ACE6;
    transition: all 0.3s ease-in-out;
  }
  .main section.main-third__section article.third-section-second__article div.article-card__prices {
    position: relative;
    top: -1.25em;
    right: -0.3125em;
  }
  .main section.main-third__section article.third-section-second__article div.article-card__prices h4.article-card-prices__title {
    position: relative;
    right: 1.125em;
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.4%;
  }
  .main section.main-third__section article.third-section-second__article div.article-card__advantages {
    margin-top: 1.5625em;
    margin-left: 1.9375em;
  }
  .main section.main-third__section article.third-section-second__article button.blue {
    background: #07ACE6;
  }
  .main section.main-third__section article.third-section-second__article h2 {
    color: #07ACE6;
    line-height: 62px;
  }
  .main section.main-third__section article.third-section-second__article:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgb(7, 172, 230);
  }
  .main section.main-third__section article.third-section-third__article {
    margin-top: 3.75em;
    border: 1px solid #55DFB4;
    transition: all 0.3s ease-in-out;
  }
  .main section.main-third__section article.third-section-third__article div.article-card__prices {
    position: relative;
    top: -1.25em;
  }
  .main section.main-third__section article.third-section-third__article div.article-card__prices p {
    display: inline-block;
  }
  .main section.main-third__section article.third-section-third__article div.article-card__prices h4 {
    position: relative;
    right: 0.3125em;
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 122.4%;
  }
  .main section.main-third__section article.third-section-third__article button.green {
    background: #55DFB4;
  }
  .main section.main-third__section article.third-section-third__article h2 {
    color: #55DFB4;
    line-height: 62px;
  }
  .main section.main-third__section article.third-section-third__article:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgb(85, 223, 180);
  }
  .main div#slider {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .main div#slider img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .main div#slider button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 1.2em;
    border-radius: 100%;
    background: rgba(14, 13, 13, 0.308);
    color: white;
    margin: 20px;
  }
  .main div#slider div.buttons__slider {
    position: relative;
    width: 100%;
    height: 30%;
    top: 11em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main section.main-four__section {
    width: 100%;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
  }
  .main section.main-four__section button#backTop {
    border: none;
    background: rgb(8, 166, 228);
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    position: relative;
    right: -85%;
  }
  .main section.main-four__section article.four-section-first__article {
    width: 100%;
    margin: 0 auto;
  }
  .main section.main-four__section article.four-section-first__article div.first-article__info {
    margin-left: 1.875em;
    margin-bottom: 2.375em;
  }
  .main section.main-four__section article.four-section-first__article div.first-article__info h2 {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .main section.main-four__section article.four-section-first__article div.first-article__info p.first-article-info__paraph {
    width: 85%;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .main section.main-four__section article.four-section-first__article div.first-article__email, .main section.main-four__section article.four-section-first__article div.first-article__numberphone {
    margin-left: 1.875em;
  }
  .main section.main-four__section article.four-section-first__article div.socials svg, .main section.main-four__section article.four-section-first__article div.socials p {
    display: inline-block;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }
  .main section.main-four__section article.four-section-first__article div.first-article__numberphone {
    margin-bottom: 3.5em;
  }
  .main section.main-four__section article.four-section-second__article {
    margin-left: 1.875em;
  }
  .main section.main-four__section article.four-section-second__article form {
    margin-bottom: 2.5em;
  }
  .main section.main-four__section article.four-section-second__article form label {
    display: block;
    color: #08A6E4;
    font-family: "Open Sans", sans-serif;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.28px;
  }
  .main section.main-four__section article.four-section-second__article form input {
    height: 42px;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    stroke-width: 1px;
    stroke: #95989A;
    outline: none;
  }
  .main section.main-four__section article.four-section-second__article form input.form-error {
    border-bottom: 1px solid red;
  }
  .main section.main-four__section article.four-section-second__article form input#name {
    margin-bottom: 2.5em;
  }
  .main section.main-four__section article.four-section-second__article form input#email {
    margin-bottom: 1.9375em;
  }
  .main section.main-four__section article.four-section-second__article form input#check {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 4px;
    border: 1px solid #95989A;
    position: relative;
    top: -8.125em;
    margin-right: 10px;
  }
  .main section.main-four__section article.four-section-second__article form p.form-consent {
    display: inline-block;
    width: 52%;
    color: #707070;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin-left: 4.875em;
  }
  .main section.main-four__section article.four-section-second__article form div.form-consent__div {
    text-align: left;
  }
  .main section.main-four__section article.four-section-second__article form p.check-error {
    color: red;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-top: 5px;
    display: none;
  }
  .main section.main-four__section article.four-section-second__article form button {
    width: 55%;
    height: 57px;
    border-radius: 35px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
    border: none;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 33px;
    margin-left: 80px;
    cursor: pointer;
  }
  /* END SECTION FOUR */
  footer {
    width: 100%;
    height: 89px;
    background: #F7F7F7;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  }
  footer a {
    text-decoration: none;
  }
  footer div.footer-info {
    display: inline-block;
    margin-left: 17px;
    margin-top: 23px;
  }
  footer div.footer-info h3 {
    color: #08A6E4;
    font-family: "Raleway", sans-serif;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
  }
  footer div.footer-info p {
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  footer div.footer__socials {
    display: inline-block;
    margin-left: 44px;
  }
  footer div.footer__socials svg {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  svg.head__iconburger {
    margin-left: 13.125em;
  }
  .main {
    /* THIRD ARTICLE */
    /* END THIRD SECTION */
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column {
    margin-bottom: 50px;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column img.third-article-sales-column__person {
    width: 20%;
    height: 25%;
    display: inline-block;
    margin: 0px;
    margin-left: 90px;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column img.third-article-sales-column__eye {
    width: 25%;
    height: 20%;
    display: inline-block;
    margin: 0px;
    margin-left: 30px;
  }
  .main section.main-first__section .third-article__sales div.third-article-sales__column img.third-article-sales-column__posts {
    width: 20%;
    height: 25%;
    display: inline-block;
    margin: 0px;
    margin-left: 30px;
  }
  .main section.main-third__section article.card div.article-card-advantages__checks {
    margin-left: 1.563em;
  }
  .main section.main-third__section article.card div.article-card-advantages__checks img {
    margin-left: 1.875em;
  }
  .main section.main-third__section article.card div.article-card__prices {
    top: -2.8125em;
    right: 1.5625em;
  }
  .main section.main-third__section article.card div.article-card__advantages {
    margin-top: 0.9375em;
    margin-left: -1.187em;
  }
  .main section.main-third__section article.card div.article-card__advantages svg {
    margin-left: 1.875em;
  }
  .main section.main-third__section article.card button.card-prices__button {
    width: 25%;
    bottom: 5.438em;
    right: -2.8125em;
  }
  .main section.main-third__section article.third-section-second__article div.article-card__prices {
    top: -2.25em;
    right: -0.437em;
  }
  .main section.main-third__section article.third-section-second__article div.article-card__advantages {
    margin-top: 1.5625em;
    margin-left: 1.9375em;
  }
  .main section.main-third__section article.third-section-second__article button.blue {
    position: relative;
    right: -1.875em;
  }
  .main section.main-third__section article.third-section-third__article div.article-card__prices {
    top: -2.25em;
    right: 2.1875em;
  }
  .main div#slider {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .main div#slider img {
    width: 100%;
    height: 550px;
    border-radius: 10px;
  }
  .main div#slider button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 1.2em;
    border-radius: 100%;
    background: rgba(14, 13, 13, 0.308);
    color: white;
    margin: 20px;
  }
  .main div#slider div.buttons__slider {
    justify-self: center;
    position: relative;
    width: 100%;
    height: 50px;
    top: 18em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main section.main-four__section button#backTop {
    border: none;
    background: rgb(8, 166, 228);
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    position: relative;
  }
  .main section.main-four__section article.four-section-second__article form p.form-consent {
    width: 30%;
    margin-left: 110px;
  }
  footer div.footer__socials {
    margin-left: 270px;
  }
}
@media only screen and (min-width: 1000px) {
  header.head {
    background: #FFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header.head #percentage__scroll {
    width: 0%;
    height: 0px;
    background: rgb(8, 166, 228);
    position: fixed;
    top: 0px;
  }
  header.head h1 {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    padding: 17px 94px 16px 25px;
    color: rgb(8, 166, 228);
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
  }
  header.head svg.head__iconburger,
  header.head svg.head__iconclose {
    display: none;
  }
  header.head nav.menu {
    width: 50%;
  }
  header.head nav.menu ul.menu__list {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  header.head nav.menu ul.menu__list li a {
    text-decoration: none;
    color: #A5A5A5;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    padding-bottom: 23px;
    transition: all 0.3s;
  }
  header.head nav.menu ul.menu__list li a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 4px solid #08A6E4;
  }
  /* END HEADER */
  main.main {
    /* FIRST SECTION */
    /* SECOND SECTION */  
    /* MODAL */
    /* THIRD SECTION */     
    /* FOUR SECTION */
  }
  main.main section.main-first__section {
    padding-top: 180px;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
    /* THIRD ARTICLE */
  }
  main.main section.main-first__section .first-article__sellmore {
    margin: 0 auto;
    text-align: center;
    width: 25%;
  }
  main.main section.main-first__section .first-article__sellmore h2 {
    font-family: "Raleway", sans-serif;
    color: #000;
    font-size: 2.188rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 20px;
  }
  main.main section.main-first__section .first-article__sellmore p {
    font-family: "Open Sans", sans-serif;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 28px;
  }
  main.main section.main-first__section .first-article__sellmore button {
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    width: 90%;
    height: 67px;
    cursor: pointer;
    border-radius: 40px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  }
  main.main section.main-first__section .second-article__background {
    margin-top: 70px;
    height: 500px;
    width: 100%;
    background: url("../img/Background.png"), 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
  }
  main.main section.main-first__section article.third-article__sales {
    margin-top: 13px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    transition: all 0.6s ease-out;
  }
  main.main section.main-first__section article.third-article__sales h3 {
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 35px;
    width: 85%;
    height: 112px;
    margin: 0 auto;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
    transition: all 0.6s ease-out;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column div.columns {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5625em;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column div.columns h4 {
    margin-top: 0.9375em;
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 5.96px;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column div.columns p {
    margin-top: 1.25em;
    color: #A5A5A5;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.063rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column div.columns img.ellipse {
    position: relative;
    right: -1.25em;
    width: 3.938em;
    height: 3.938em;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column div.columns img.icon {
    width: 2.75em;
    height: 3.25em;
    position: relative;
    right: 0.6875em;
    top: -0.625em;
    z-index: 1;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column > div:nth-child(2) img.ellipse {
    width: 3.938em;
    height: 3.938em;
    right: -1.875em;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column > div:nth-child(2) img.icon {
    width: 4.09375em;
    height: 2.28125em;
    top: -0.8125em;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column > div:nth-child(3) {
    margin-bottom: 3.125em;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column > div:nth-child(3) img.ellipse {
    right: -1.25em;
  }
  main.main section.main-first__section article.third-article__sales div.third-article-sales__column > div:nth-child(3) img.icon {
    width: 3.25em;
    height: 3em;
    top: -0.5em;
  }
  main.main div.modal {
    display: none;
    top: 40%;
    z-index: 10000;
    width: 90%;
    height: 270px;
    border: 1px solid rgb(8, 166, 228);
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    position: fixed;
    margin-left: 5%;
    text-align: center;
  }
  main.main div.modal svg.modal__iconclose {
    cursor: pointer;
    position: relative;
    right: -45%;
    top: 5px;
  }
  main.main div.modal h3.modal__title {
    font-family: "Raleway", sans-serif;
    color: rgb(8, 166, 228);
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  main.main div.modal form label {
    display: block;
    color: #08A6E4;
    font-family: "Open Sans", sans-serif;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.28px;
    font-size: 1em;
  }
  main.main div.modal form input {
    height: 42px;
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    stroke-width: 1px;
    stroke: #95989A;
    outline: none;
    margin-bottom: 30px;
  }
  main.main div.modal form button {
    display: block;
    margin: 0 auto;
    border: none;
    background: rgb(8, 166, 228);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    color: #fff;
  }
  main.main section.main-second__section {
    width: 100%;
    background: #F7F7F7;
    padding-top: 105px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
    /* THIRD ARTICLE */
  }
  main.main section.main-second__section article.second-section__box {
    margin-bottom: 41px;
    width: 80%;
    height: 370px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    background: #FFF;
  }
  main.main section.main-second__section article.second-section-first__article {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  main.main section.main-second__section article.second-section-first__article div.first-article__portatil {
    height: 60%;
    width: 60%;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-first__article div.first-article__portatil img.rectange {
    width: 15.9375em;
    height: 15.9375em;
    position: relative;
    top: -3.75em;
    right: -7.8125em;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-first__article div.first-article__portatil img.macbook {
    z-index: 1;
    position: relative;
    top: -15.625em;
    right: 2.5em;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-first__article div.first-article-portatil__description {
    margin-left: 2.25em;
    width: 80%;
    height: 40%;
    margin-bottom: 2.5em;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-first__article div.first-article-portatil__description h3 {
    width: 100%;
    height: 72px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-first__article div.first-article-portatil__description p {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 70%;
    height: 100%;
    border-bottom: 3px solid #FB3B64;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-second__article {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main.main section.main-second__section article.second-section-second__article div.second-article__phone {
    height: 60%;
    width: 60%;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-second__article div.second-article__phone img.ellipse {
    width: 20em;
    height: 20em;
    position: relative;
    top: -3.4375em;
    right: -4.375em;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-second__article div.second-article__phone img.iphone {
    z-index: 1;
    position: relative;
    top: -22.5em;
    right: -4.375em;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-second__article div.second-article-phone__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2.1875em;
    width: 80%;
    height: 40%;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-second__article div.second-article-phone__description h3 {
    width: 80%;
    height: 70px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 18px;
  }
  main.main section.main-second__section article.second-section-second__article div.second-article-phone__description p {
    width: 80%;
    height: 100%;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    border-bottom: 3px solid #08A6E4;
    padding-bottom: 50px;
  }
  main.main section.main-second__section article.second-section-third__article {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 80px;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-third__article div.third-article-frame__description {
    width: 80%;
    height: 298px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    background: #FFF;
    margin-right: 1.25em;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-third__article div.third-article-frame__description h3, main.main section.main-second__section article.second-section-third__article div.third-article-frame__description p {
    margin-left: 1.375em;
  }
  main.main section.main-second__section article.second-section-third__article div.third-article-frame__description h3 {
    margin-top: 50px;
    margin-left: 20px;
    width: 65%;
    height: 25%;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  main.main section.main-second__section article.second-section-third__article div.third-article-frame__description p {
    margin-top: 1.25em;
    width: 70%;
    height: 40%;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 3px solid #55DFB4;
  }
  main.main section.main-second__section article.second-section-third__article div.third-section__frame {
    margin-left: 2.5em;
    width: 50%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    background: #55DFB4;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-out;
  }
  main.main section.main-second__section article.second-section-third__article div.third-section__frame img {
    width: 16.625em;
    height: 13em;
    transition: all 0.6s ease-out;
  }
  main.main section.main-third__section {
    margin-bottom: 30px;
    padding-top: 55px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-out;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
    /* THIRD ARTICLE */
  }
  main.main section.main-third__section div.third-section__divflex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.6s ease-out;
  }
  main.main section.main-third__section h2.third-section__title {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
  }
  main.main section.main-third__section article.card {
    width: 25%;
    height: 500px;
    border-radius: 18px;
    background: #FFF;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-out;
  }
  main.main section.main-third__section article.card div.article-card__prices h4 {
    width: 52px;
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    margin-top: 20px;
  }
  main.main section.main-third__section article.card div.article-card__prices h2 {
    width: 59px;
    font-family: "Open Sans", sans-serif;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
  }
  main.main section.main-third__section article.card div.article-card__prices p {
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  main.main section.main-third__section article.card div.article-card__advantages {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  main.main section.main-third__section article.card div.article-card__advantages p {
    display: inline-block;
    margin-bottom: 20px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 15px 20px 15px 10px;
  }
  main.main section.main-third__section article.card div.article-card__advantages img {
    width: 11px;
    height: 11px;
  }
  main.main section.main-third__section article.card button.card-prices__button {
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    bottom: -40px;
  }
  main.main section.main-third__section article.third-section-first__article {
    border: 1px solid #FB3B64;
    transition: all 0.3s ease-in-out;
  }
  main.main section.main-third__section article.third-section-first__article button.red {
    background: #EB476E;
    position: relative;
    bottom: -45px;
  }
  main.main section.main-third__section article.third-section-first__article h2 {
    color: #FB3B64;
    font-family: "Open Sans", sans-serif;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
  }
  main.main section.main-third__section article.third-section-first__article:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgb(251, 59, 100);
  }
  main.main section.main-third__section article.third-section-second__article {
    border: 1px solid #07ACE6;
    transition: all 0.3s ease-in-out;
  }
  main.main section.main-third__section article.third-section-second__article div.article-card__prices h4.article-card-prices__title {
    position: relative;
    right: 18px;
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 122.4%;
  }
  main.main section.main-third__section article.third-section-second__article div.article-card__advantages {
    margin-top: 25px;
    margin-left: 31px;
  }
  main.main section.main-third__section article.third-section-second__article button.blue {
    background: #07ACE6;
  }
  main.main section.main-third__section article.third-section-second__article h2 {
    color: #07ACE6;
    line-height: 62px;
  }
  main.main section.main-third__section article.third-section-second__article:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgb(7, 172, 230);
  }
  main.main section.main-third__section article.third-section-third__article {
    border: 1px solid #55DFB4;
    transition: all 0.3s ease-in-out;
  }
  main.main section.main-third__section article.third-section-third__article div.article-card__advantages {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  main.main section.main-third__section article.third-section-third__article div.article-card__prices {
    position: relative;
    top: -20px;
  }
  main.main section.main-third__section article.third-section-third__article div.article-card__prices p {
    margin-right: 20px;
  }
  main.main section.main-third__section article.third-section-third__article div.article-card__prices h4 {
    position: relative;
    right: 5px;
    color: #13253B;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 122.4%;
    margin-top: 50px;
  }
  main.main section.main-third__section article.third-section-third__article button.green {
    background: #55DFB4;
    position: relative;
    bottom: -25px;
  }
  main.main section.main-third__section article.third-section-third__article h2 {
    color: #55DFB4;
    line-height: 62px;
  }
  main.main section.main-third__section article.third-section-third__article:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px 0px rgb(85, 223, 180);
  }
  main.main div#slider {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  main.main div#slider img {
    width: 100%;
    height: 550px;
    border-radius: 10px;
  }
  main.main div#slider button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 1.2em;
    border-radius: 100%;
    background: rgba(14, 13, 13, 0.308);
    color: white;
    margin: 20px;
  }
  main.main div#slider div.buttons__slider {
    justify-self: center;
    position: relative;
    width: 100%;
    height: 50px;
    top: 18em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main.main section.main-four__section {
    width: 100%;
    display: flex;
    justify-content: center;
    /* FIRST ARTICLE */
    /* SECOND ARTICLE */
  }
  main.main section.main-four__section button#backTop {
    border: none;
    background: rgb(8, 166, 228);
    padding: 10px;
    height: 50px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    position: relative;
    bottom: -350px;
    right: -12%;
  }
  main.main section.main-four__section article.four-section-first__article {
    width: 30%;
    margin-left: 80px;
  }
  main.main section.main-four__section article.four-section-first__article div.first-article__info {
    margin-bottom: 38px;
  }
  main.main section.main-four__section article.four-section-first__article div.first-article__info h2 {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 22px;
  }
  main.main section.main-four__section article.four-section-first__article div.first-article__info p.first-article-info__paraph {
    width: 70%;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  main.main section.main-four__section article.four-section-first__article div.four-section__contactdiv {
    display: flex;
    justify-content: left;
  }
  main.main section.main-four__section article.four-section-first__article div.first-article__numberphone {
    margin-left: 30px;
  }
  main.main section.main-four__section article.four-section-first__article div.socials {
    display: flex;
  }
  main.main section.main-four__section article.four-section-first__article div.socials p {
    margin-left: 10px;
  }
  main.main section.main-four__section article.four-section-first__article div.socials svg, main.main section.main-four__section article.four-section-first__article p {
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }
  main.main section.main-four__section article.four-section-first__article div.first-article__numberphone {
    margin-bottom: 56px;
  }
  main.main section.main-four__section article.four-section-second__article {
    width: 30%;
    margin-left: 30px;
  }
  main.main section.main-four__section article.four-section-second__article form {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
  }
  main.main section.main-four__section article.four-section-second__article form label {
    color: #08A6E4;
    font-family: "Open Sans", sans-serif;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.28px;
  }
  main.main section.main-four__section article.four-section-second__article form input {
    height: 42px;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    stroke-width: 1px;
    stroke: #95989A;
    outline: none;
  }
  main.main section.main-four__section article.four-section-second__article form div.form-consent__div {
    display: flex;
  }
  main.main section.main-four__section article.four-section-second__article form input#name {
    margin-bottom: 40px;
  }
  main.main section.main-four__section article.four-section-second__article form input#email {
    margin-bottom: 31px;
  }
  main.main section.main-four__section article.four-section-second__article form input#check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #95989A;
    margin-right: 10px;
  }
  main.main section.main-four__section article.four-section-second__article form p.form-consent {
    width: 80%;
    color: #707070;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  main.main section.main-four__section article.four-section-second__article form div.form-consent__div {
    text-align: left;
  }
  main.main section.main-four__section article.four-section-second__article form button {
    width: 40%;
    height: 57px;
    border-radius: 35px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
    border: none;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 33px;
    align-self: flex-end;
    margin-right: 50px;
    cursor: pointer;
  }
  /* END SECTION FOUR */  
  footer {
    width: 100%;
    height: 89px;
    background: #F7F7F7;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer a {
    text-decoration: none;
    margin-right: 20px;
  }
  footer div.footer-info {
    display: inline-block;
    margin-left: 137px;
  }
  footer div.footer-info h3 {
    color: #08A6E4;
    font-family: "Raleway", sans-serif;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
  }
  footer div.footer-info p {
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 0.688rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  footer div.footer__socials:nth-child(2) {
    margin-right: 136px;
  }
}/*# sourceMappingURL=style.css.map */