@import url(https://fonts.googleapis.com/css2?family=600&family=Raleway:wght@300&display=swap)
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap)

$first-font-family: 'Raleway', sans-serif
$second-font-family: 'Open Sans', sans-serif
$principal-color: rgba(8, 166, 228, 1)

*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    min-width: 320px
    background: #FFF

@media only screen and (min-width: 375px) and (max-width: 1000px)
    .head
        background: #FFF
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29)
        height: auto
        position: fixed
        width: 100%
        z-index: 1
        h1
            font-family: $first-font-family
            display: inline-block
            padding: 17px 94px 16px 25px
            color: $principal-color
            font-size: 2rem
            font-style: normal
            font-weight: 300
            line-height: 37px
        svg.head__iconburger,
        svg.head__iconclose
            margin-bottom: 5px
            cursor: pointer
        svg.head__iconclose
            display: none
        nav.menu
            display: none
            ul.menu__list
                list-style: none
                padding: 24px 25px
            ul.menu__list li
                padding-top: 14px
            ul.menu__list li a
                text-decoration: none
                color: #A5A5A5
                text-align: center
                font-family: Open Sans
                font-size: 0.688rem
                font-style: normal
                font-weight: 700
                line-height: 15px
                letter-spacing: 3.28px
                text-transform: uppercase
            ul.menu__list li a:hover
                color: rgba(0, 0, 0, 1)
    /* END HEAD */
    /* START MAIN */
    .main
        /* FIRST SECTION */
        section.main-first__section
            padding-top: 180px
            /* FIRST ARTICLE */
            .first-article__sellmore
                margin: 0 auto
                text-align: center
                width: 90%
                h2
                    font-family: $first-font-family
                    color: #000
                    font-size: 2.188rem
                    font-style: normal
                    font-weight: bold
                    line-height: normal
                    margin-bottom: 20px
                p
                    font-family: $second-font-family
                    color: #000
                    text-align: center
                    font-size: 1rem
                    font-style: normal
                    font-weight: 400
                    line-height: 23px
                    margin-bottom: 28px
                button
                    border: none
                    color: #FFF
                    text-align: center
                    font-family: $second-font-family
                    font-size: 1rem
                    font-style: normal
                    font-weight: 700
                    line-height: 22px
                    width: 90%
                    height: 67px
                    cursor: pointer
                    border-radius: 40px
                    background: #08A6E4
                    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29)
            /* SECOND ARTICLE */
            .second-article__background
                margin-top: 51px
                height: 267px
                width: 100%
                background: url('../img/Background.png'), 50%
                background-size: cover
                background-position: center
            /* THIRD ARTICLE */
            .third-article__sales
                margin-top: 13px
                width: 100%
                h3
                    color: #000
                    text-align: center
                    font-family: $first-font-family
                    font-size: 1.875rem
                    font-weight: 300
                    line-height: 35px
                    width: 85%
                    height: 112px
                    margin: 0 auto
                div.third-article-sales__column
                    margin-top: 25px
                    img.third-article-sales-column__person
                        width: 30%
                        height: 35%
                        display: block
                        margin: 0 auto
                        margin-bottom: 25px
                    img.third-article-sales-column__eye
                        width: 45%
                        height: 40%
                        display: block
                        margin: 0 auto
                        margin-bottom: 25px
                    img.third-article-sales-column__posts
                        width: 40%
                        height: 45%
                        display: block
                        margin: 0 auto
                        margin-bottom: 50px
        /* SECOND SECTION */                 
        section.main-second__section
            width: 100%
            background: #F7F7F7
            padding-top: 50px
            padding-bottom: 40px
            article.second-section__box
                margin: 0 auto
                margin-bottom: 41px
                width: 314px
                height: 370px
                border-radius: 5px
                border: 1px solid #E8E9ED
                background: #FFF
            /* FIRST ARTICLE */
            article.second-section-first__article
                div.first-article__portatil
                    height: 180px
                    background-image: url('../img/macbook.png')
                    background-position: center
                    background-size: contain
                    background-repeat: no-repeat
                    margin-left: 50px
                    width: 70%
                div.first-article-portatil__description
                    margin-left: 22px
                    h3
                        width: 220px
                        height: 72px
                        color: #000
                        font-family: $first-font-family
                        font-size: 1.875rem
                        font-style: normal
                        font-weight: bold
                        line-height: normal
                    p
                        color: #000
                        font-family: $second-font-family
                        font-size: 0.875rem
                        font-style: normal
                        font-weight: 400
                        line-height: 21px
                        width: 272px
            /* SECOND ARTICLE */
            article.second-section-second__article
                div.second-article__phone
                    height: 180px
                    background-image: url('../img/phone.png')
                    background-position: center
                    background-size: contain
                    background-repeat: no-repeat
                    margin-left: 70px
                    width: 55%
                    img.second-article-phone__ellipse
                        width: 132px
                        height: 132px
                        top: 12px
                        left: 25%
                        position: relative
                    img.second-article-phone
                        width: 175px
                        height: 135px
                        left: -20%
                        top: 25px
                        position: relative
                div.second-article-phone__description
                    margin-left: 22px
                    h3
                        width: 218px
                        height: 70px
                        color: #000
                        font-family: $first-font-family
                        font-size: 1.875rem
                        font-style: normal
                        font-weight: 400
                        line-height: normal
                        margin-bottom: 18px
                    p
                        width: 272px
                        height: 77px
                        color: #000
                        font-family: $second-font-family
                        font-size: 0.875rem
                        font-style: normal
                        font-weight: 400
                        line-height: 19px
            /* THIRD ARTICLE */
            article.second-section-third__article
                width: 100%
                div.third-article-frame__description
                    width: 314px
                    height: 298px
                    border-radius: 5px
                    border: 1px solid #E8E9ED
                    background: #FFF
                    margin: 0 auto
                    h3, p
                        margin-left: 22px
                    h3
                        margin-top: 31px
                        width: 274px
                        height: 109px
                        color: #000
                        font-family: $first-font-family
                        font-size: 1.875rem
                        font-style: normal
                        font-weight: 400
                        line-height: normal
                    p
                        margin-top: 20px
                        width: 274px
                        height: 114px
                        color: #000
                        font-family: $second-font-family
                        font-size: 1rem
                        font-style: normal
                        font-weight: 400
                        line-height: normal
                div.third-section__frame
                    margin: 0 auto
                    width: 314px
                    height: 195px
                    border-radius: 5px
                    border: 1px solid #E8E9ED
                    background-image: url('../img/Frame 5.png')
                    background-size: auto
                    background-position: center
        /* THIRD SECTION */
        section.main-third__section
            margin-bottom: 85px
            padding-top: 55px
            width: 100%
            text-align: center
            h2.third-section__title
                color: #000
                font-family: $first-font-family
                font-size: 2.25rem
                font-style: normal
                font-weight: 400
                line-height: normal
                margin-bottom: 14px
            article.card
                width: 80%
                height: 75%
                border-radius: 18px
                background: #FFF
                margin: 0 auto
                margin-bottom: 30px
                div.article-card-advantages__checks
                    margin-left: 25px
                div.article-card__prices
                    display: inline-block
                    position: relative
                    top: -45px
                    right: -15px
                    h4
                        width: 52px
                        color: #13253B
                        font-family: $first-font-family
                        font-size: 1.25rem
                        font-style: normal
                        font-weight: bold
                        line-height: 24px
                        margin: 0 auto
                    h2
                        width: 59px
                        font-family: $second-font-family
                        font-size: 2.875rem
                        font-style: normal
                        font-weight: 300
                        line-height: 64px
                        margin: 0 auto
                    p
                        color: #13253B
                        font-family: $first-font-family
                        font-size: 0.75rem
                        font-style: normal
                        font-weight: 700
                        line-height: normal
                        margin-top: 5px
                        position: relative
                        right: -12px
                div.article-card__advantages
                    display: inline-block
                    margin-top: 25px
                    margin-left: 45px
                    text-align: justify
                    svg
                        display: inline-block
                    p
                        margin-left: 10px
                        display: inline-block
                        margin-bottom: 20px
                        color: #000
                        font-family: $second-font-family
                        font-size: 0.875rem
                        font-style: normal
                        font-weight: 400
                        line-height: normal
                    img
                        width: 11px
                        height: 11px
                button.card-prices__button
                    cursor: pointer
                    border: none
                    width: 150px
                    height: 50px
                    position: relative
                    bottom: -10px
                    border-radius: 23px
                    color: #FFF
                    font-family: $second-font-family
                    font-size: 0.813rem
                    font-style: normal
                    font-weight: 700
                    line-height: normal
            /* FIRST ARTICLE */
            article.third-section-first__article
                border: 1px solid #FB3B64
                transition: all 0.3s ease-in-out
                button.red
                    background: #EB476E
                h2
                    color: #FB3B64
                    font-family: $second-font-family
                    font-size: 2.875rem
                    font-style: normal
                    font-weight: 300
                    line-height: 64px
            article.third-section-first__article:hover
                transform: scale(1.1)
                box-shadow: 5px 10px 27px 0px rgba(251, 59, 100, 1)
            /* SECOND ARTICLE */
            article.third-section-second__article
                margin-top: 60px
                border: 1px solid #07ACE6
                transition: all 0.3s ease-in-out
                div.article-card__prices
                    position: relative
                    top: -20px
                    right: -5px
                    h4.article-card-prices__title
                        position: relative
                        right: 18px
                        color: #13253B
                        font-family: $first-font-family
                        font-size: 1.25rem
                        font-style: normal
                        font-weight: 700
                        line-height: 122.4%
                div.article-card__advantages
                    margin-top: 25px
                    margin-left: 31px
                button.blue
                    background: #07ACE6
                h2
                    color: #07ACE6
                    line-height: 62px
            article.third-section-second__article:hover
                transform: scale(1.1)
                box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 1)
            /* THIRD ARTICLE */
            article.third-section-third__article
                margin-top: 60px
                border: 1px solid #55DFB4
                transition: all 0.3s ease-in-out
                div.article-card__prices
                    position: relative
                    top: -20px
                    p
                        display: inline-block
                    h4
                        position: relative
                        right: 5px
                        color: #13253B
                        font-family: $first-font-family
                        font-size: 1.25rem
                        font-style: normal
                        font-weight: bold
                        line-height: 122.4%
                button.green
                    background: #55DFB4
                h2
                    color: #55DFB4
                    line-height: 62px
            article.third-section-third__article:hover
                transform: scale(1.1)
                box-shadow: 5px 10px 27px 0px rgba(85, 223, 180, 1)
        /* FOUR SECTION */
        section.main-four__section
            width: 100%
            /* FIRST ARTICLE */
            article.four-section-first__article
                width: 100%
                margin: 0 auto
                div.first-article__info
                    margin-left: 30px
                    margin-bottom: 38px
                    h2
                        color: #000
                        font-family: $first-font-family
                        font-size: 40px
                        font-style: normal
                        font-weight: 400
                        line-height: normal
                    p.first-article-info__paraph
                        width: 312px
                        color: #000
                        font-family: $second-font-family
                        font-size: 1rem
                        font-style: normal
                        font-weight: 400
                        line-height: 22px
                div.first-article__email, div.first-article__numberphone
                    margin-left: 30px
                div.socials svg, p
                    display: inline-block
                    color: #A5A5A5
                    font-family: $second-font-family
                    font-size: 1rem
                    font-style: normal
                    font-weight: 600
                    line-height: 22px
                div.first-article__numberphone
                    margin-bottom: 56px
            /* SECOND ARTICLE */
            article.four-section-second__article
                margin-left: 30px
                form
                    margin-bottom: 40px
                    label 
                        display: block
                        color: #08A6E4
                        font-family: $second-font-family
                        font-size: 0.688rem
                        font-style: normal
                        font-weight: 600
                        line-height: normal
                        letter-spacing: 3.28px
                    input
                        height: 42px
                        width: 90%
                        border: none
                        border-bottom: 1px solid black
                        stroke-width: 1px
                        stroke: #95989A
                        outline: none
                    input#name
                        margin-bottom: 40px
                    input#email
                        margin-bottom: 31px
                    input#check
                        display: inline-block
                        width: 24px
                        height: 24px
                        border-radius: 4px
                        border: 1px solid #95989A
                        position: relative
                        top: -125px
                        margin-right: 10px
                    p.form-consent
                        display: inline-block
                        width: 80%
                        color: #707070
                        font-family: $second-font-family
                        font-size: 0.75rem
                        font-style: normal
                        font-weight: 400
                        line-height: normal
                    div.form-consent__div
                        text-align: left
                    button
                        width: 70%
                        height: 57px
                        border-radius: 35px
                        background: #08A6E4
                        box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29)
                        border: none
                        color: #FFF
                        font-family: $second-font-family
                        font-size: 0.813rem
                        font-style: normal
                        font-weight: 700
                        line-height: normal
                        margin-top: 33px
                        margin-left: 80px
                        cursor: pointer
    /* END SECTION FOUR */
    footer
        width: 100%
        height: 89px
        background: #F7F7F7
        box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.20)
    footer
        a
            text-decoration: none
        div.footer-info
            display: inline-block
            margin-left: 17px
            margin-top: 23px
            h3
                color: #08A6E4
                font-family: $first-font-family
                font-size: 1.625rem
                font-style: normal
                font-weight: 300
                line-height: 30px
            p
                color: #A5A5A5
                font-family: $second-font-family
                font-size: 0.688rem
                font-style: normal
                font-weight: 400
                line-height: normal
        div.footer__socials
            display: inline-block
            margin-left: 44px
        div.footer__socials svg
            margin-left: 20px
            margin-bottom: 10px
@media only screen and (min-width: 600px) and (max-width: 1000px)
    svg.head__iconburger
        margin-left: 210px
    .main 
        section.main-four__section 
            article.four-section-second__article 
                form 
                    p.form-consent
                        width: 30%
                        margin-left: 110px
        section.main-first__section 
            .third-article__sales 
                div.third-article-sales__column 
                    margin-bottom: 50px
                    img.third-article-sales-column__person
                        width: 20%
                        height: 25%
                        display: inline-block
                        margin: 0px
                        margin-left: 90px
                    img.third-article-sales-column__eye
                        width: 25%
                        height: 20%
                        display: inline-block
                        margin: 0px
                        margin-left: 30px
                    img.third-article-sales-column__posts
                        width: 20%
                        height: 25%
                        display: inline-block
                        margin: 0px
                        margin-left: 30px
        section.main-third__section
            article.card
                div.article-card__prices
                    top: -45px
                    right: 35px
                button.card-prices__button
                    width: 200px
                    height: 80px
                    bottom: 80px
                    right: -80px
    footer
        div.footer__socials
            margin-left: 270px
@media only screen and (min-width: 1000px)
    header.head
            background: #FFF
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29)
            height: auto
            position: fixed
            width: 100%
            z-index: 1
            display: flex
            justify-content: space-between
            align-items: center
            h1
                font-family: $first-font-family
                display: inline-block
                padding: 17px 94px 16px 25px
                color: $principal-color
                font-size: 2rem
                font-style: normal
                font-weight: 300
                line-height: 37px
            svg.head__iconburger,
            svg.head__iconclose
                display: none
            nav.menu
                width: 50%
                ul.menu__list
                    width: 100%
                    display: flex
                    list-style: none
                    justify-content: space-evenly
                ul.menu__list li
                    padding-top: 14px
                ul.menu__list li a
                    text-decoration: none
                    color: #A5A5A5
                    text-align: center
                    font-family: Open Sans
                    font-size: 0.688rem
                    font-style: normal
                    font-weight: 700
                    line-height: 15px
                    letter-spacing: 3.28px
                    text-transform: uppercase
                    padding-bottom: 23px
                    transition: all 0.3s
                ul.menu__list li a:hover
                    color: rgba(0, 0, 0, 1)
                    border-bottom: 3px solid #08A6E4
    /* END HEADER */
    main.main
        /* FIRST SECTION */
        section.main-first__section
            padding-top: 180px
            /* FIRST ARTICLE */
            .first-article__sellmore
                margin: 0 auto
                text-align: center
                width: 25%
                h2
                    font-family: $first-font-family
                    color: #000
                    font-size: 2.188rem
                    font-style: normal
                    font-weight: bold
                    line-height: normal
                    margin-bottom: 20px
                p
                    font-family: $second-font-family
                    color: #000
                    text-align: center
                    font-size: 1rem
                    font-style: normal
                    font-weight: 400
                    line-height: 23px
                    margin-bottom: 28px
                button
                    border: none
                    color: #FFF
                    text-align: center
                    font-family: $second-font-family
                    font-size: 1rem
                    font-style: normal
                    font-weight: 700
                    line-height: 22px
                    width: 90%
                    height: 67px
                    cursor: pointer
                    border-radius: 40px
                    background: #08A6E4
                    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29)
            /* SECOND ARTICLE */
            .second-article__background
                margin-top: 70px
                height: 500px
                width: 100%
                background: url('../img/Background.png'), 50%
                background-size: cover
                background-position: center
                margin-bottom: 100px
            /* THIRD ARTICLE */
            .third-article__sales
                margin-top: 13px
                width: 100%
                display: flex
                flex-direction: column
                align-items: center
                h3
                    color: #000
                    text-align: center
                    font-family: $first-font-family
                    font-size: 1.875rem
                    font-weight: 300
                    line-height: 35px
                    width: 85%
                    height: 112px
                    margin: 0 auto
                div.third-article-sales__column
                    width: 50%
                    display: flex
                    flex-direction: row
                    margin-top: 25px
                    img.third-article-sales-column__person
                        width: 12%
                        height: 10%
                        display: block
                        margin: 0 auto
                        margin-bottom: 25px
                    img.third-article-sales-column__eye
                        width: 18%
                        height: 10%
                        display: block
                        margin: 0 auto
                        margin-bottom: 25px
                    img.third-article-sales-column__posts
                        width: 16%
                        height: 15%
                        display: block
                        margin: 0 auto
                        margin-bottom: 50px
        /* SECOND SECTION */                 
        section.main-second__section
            width: 100%
            background: #F7F7F7
            padding-top: 105px
            padding-bottom: 40px
            display: flex
            flex-direction: column
            align-items: center
            article.second-section__box
                margin-bottom: 41px
                width: 60%
                height: 370px
                border-radius: 5px
                border: 1px solid #E8E9ED
                background: #FFF
            /* FIRST ARTICLE */
            article.second-section-first__article
                display: flex
                justify-content: space-between
                flex-direction: row-reverse
                align-items: center
                div.first-article__portatil
                    height: 60%
                    background-image: url('../img/macbook.png')
                    background-position: center
                    background-size: contain
                    background-repeat: no-repeat
                    margin-left: 50px
                    width: 100%
                div.first-article-portatil__description
                    margin-left: 36px
                    width: 80%
                    height: 40%
                    h3
                        width: 100%
                        height: 72px
                        color: #000
                        font-family: $first-font-family
                        font-size: 1.875rem
                        font-style: normal
                        font-weight: bold
                        line-height: normal
                    p
                        color: #000
                        font-family: $second-font-family
                        font-size: 0.875rem
                        font-style: normal
                        font-weight: 400
                        line-height: 21px
                        width: 70%
                        height: 100%
                        border-bottom: 3px solid #FB3B64
            /* SECOND ARTICLE */
            article.second-section-second__article
                display: flex
                justify-content: space-between
                align-items: center
                div.second-article__phone
                    height: 80%
                    background-image: url('../img/phone.png')
                    background-position: center
                    background-size: contain
                    background-repeat: no-repeat
                    width: 100%
                div.second-article-phone__description
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    margin-right: 20px
                    h3
                        width: 80%
                        height: 70px
                        color: #000
                        font-family: $first-font-family
                        font-size: 1.875rem
                        font-style: normal
                        font-weight: bold
                        line-height: normal
                        margin-bottom: 18px
                    p
                        width: 80%
                        height: 100%
                        color: #000
                        font-family: $second-font-family
                        font-size: 0.875rem
                        font-style: normal
                        font-weight: 400
                        line-height: 19px
                        border-bottom: 3px solid #08A6E4
                        padding-bottom: 50px
            /* THIRD ARTICLE */
            article.second-section-third__article
                display: flex
                justify-content: space-around
                width: 60%
                div.third-article-frame__description
                    width: 70%
                    height: 298px
                    border-radius: 5px
                    border: 1px solid #E8E9ED
                    background: #FFF
                    margin-right: 20px
                    h3, p
                        margin-left: 22px
                    h3
                        margin-top: 31px
                        width: 65%
                        height: 25%
                        color: #000
                        font-family: $first-font-family
                        font-size: 1.875rem
                        font-style: normal
                        font-weight: bold
                        line-height: normal
                    p
                        margin-top: 20px
                        width: 70%
                        height: 40%
                        color: #000
                        font-family: $second-font-family
                        font-size: 1rem
                        font-style: normal
                        font-weight: 400
                        line-height: normal
                        border-bottom: 3px solid #55DFB4
                        margin-top: 20px
                div.third-section__frame
                    margin-left: 40px
                    width: 50%
                    height: 300px
                    border-radius: 5px
                    border: 1px solid #E8E9ED
                    background-image: url('../img/Frame 5.png')
                    background-size: cover
                    background-position: center
                    background-repeat: no-repeat
        /* THIRD SECTION */ 